html,body{margin:0;}
h1,h2,h3,h4,h5,h6,p,figure{margin:0;}
ul,li{
    list-style-type:none;
    padding:0; margin:0;
}
a{
    color:#333; 
    text-decoration: none;
}
img{vertical-align: middle;}
table{border-collapse: collapse;}
*{box-sizing: border-box;}

/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2% 0;
  }
  
  header > div {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  
  header > div h1 a {
    font-size: 0;
    width: 93px;
    height: 36px;
    background: url("../img/logo.png") no-repeat;
    display: block;
  }
  
  header > div nav a {
    color: #fff;
    padding: 0 24px;
    display: inline-block;
  }

  /* footer */
  footer {
    padding: 3% 0%;
    text-align: center;
  }